/**
 * @name Drobbblish
 * @author fishbone04
 * @version 0.5
 * @description A discord theme. Inspired by dribbblish for spicetify
 * @source https://github.com/fishbone04/drobbblish
*/

/*SETTINGS*/
:root {
	/*purple theme*/
	/*--background: #6F3C89;
	--foreground: #0A0E14;
	--buttoncolor: #c76af6;
	--buttonhover: #e0d0ff;*/
	/*blue theme*/
	--background: #203F9F;
	--foreground: #00071D;
	--buttoncolor: #4D78FF;
	--buttonhover: #A6BCFF;
	/*blackwhite theme*/
	/*--background: #606060;
	--foreground: #0B0B0B;
	--buttoncolor: #CACACA;
	--buttonhover: #FFFFFF;*/
}





div.scroller-3X7KbA{
	background-color: var(--background);
}
div.sidebar-1tnWFu{
	margin-bottom: 10px;
	border-top-left-radius: 10px !important;
	border-bottom-left-radius: 10px !important;
}
div.childWrapper-1j_1ub, div.circleIconButton-1VxDrg{
	background-color: var(--foreground) !important;
	color: var(--buttoncolor);
}
#bd-pub-button{
	color: var(--buttoncolor);
}
#bd-pub-button:hover{
	color: var(--buttonhover);
}
div.contentRegion-3HkfJJ{
	border-radius: 0 10px 10px 0;
}
div.contentRegion-3HkfJJ:before{
	content: "";
	width: 1px;
	height: 100%;
	background-color: var(--background-tertiary);
}
div.contentRegionScroller-2_GT_N{
	background: var(--foreground) !important;
}
div.standardSidebarView-E9Pc3j, div.bg-1QIAus, div.layer-86YKbF{
	background-color: var(--background) !important;
}
div.contentRegionScroller-2_GT_N{
	border-radius: 0 10px 10px 0;
}
div.sidebarRegion-1VBisG:before{
	content: "";
	width: 100%;
	background-color: var(--foreground);
	border-radius: 10px 0 0 10px;
}

div.sidebarRegionScroller-FXiQOh{
	background-color: var(--foreground);
	
}
div.standardSidebarView-E9Pc3j{
	margin: 0 10px 10px 10px;
	border-radius: 10px;
}
div.selected-1Drb7Z > div{
	color: var(--buttonhover) !important;
}
span.item-2LIpTv{
	background-color: var(--buttonhover);
}
section.title-31SJ6t, section.container-ZMc96U{
	padding-right: 0 !important;
	padding-left: 0 !important;
	/*background: var(--background) !important;*/
}
div.content-1jQy2l:before{
	display: none;
}
div.toolbar-3_r2xA{
	background-color: var(--background-primary);
}
div.children-3xh0VB{
	background-color: var(--background-primary);
	height: 100%;
}
div.title-31SJ6t{
	left: -10px;
}
div.container-2o3qEW{
	background: var(--background) !important;
	background-color: var(--background);
}
div.container-2o3qEW > aside{
	background: var(--background) !important;
	background-color: var(--background);
}
div.members-3WRCEx, div.members-3WRCEx > div{
	background-color: var(--background) !important;
}
main.chatContent-3KubbW, form.form-3gdLxP, div.layerContainer-2v_Sit{
	border-bottom-right-radius: 10px !important;
}
div.content-1jQy2l{
	background-color: var(--background);
}
main.chatContent-3KubbW, div.sidebar-1tnWFu > nav, div.scroller-WSmht3, section.panels-3wFtMD, div.children-3xh0VB, .toolbar-3_r2xA{
	background-color: var(--foreground) !important;
	background: var(--foreground) !important;
}
form.form-3gdLxP:before, .children-3xh0VB:after{
	display: none;
}
.toolbar-3_r2xA{
	height: 100%;
	background-color: var(--background)!important;
}
section.title-31SJ6t{
	background: var(--background);
}
div.iconWrapper-2awDjA[aria-label="Hide Member List"]{
	order: 1;
	margin-right: 250px;
	padding-right: 10px;
	border-top-right-radius: 10px;
}
/*div.toolbar-1t6TWx{
	display: flex;
	justify-content: center;
}*/
div.iconWrapper-2awDjA[aria-label="Hide Member List"] > svg, div.iconWrapper-2awDjA[aria-label="Show Member List"] > svg{
	z-index: 1;
}
div.iconWrapper-2awDjA[aria-label="Hide Member List"]:before{
	content: "";
	width: 59px;
	height: 100%;
	position: absolute;
	right: 0px;
	background-color: var(--foreground);
	z-index: 0;
	border-top-right-radius: 10px;
	user-select: none;
	pointer-events: none;
}
div.iconWrapper-2awDjA[aria-label="Show Member List"]:before{
	content: "";
	width: 59px;
	height: 100%;
	position: absolute;
	right: 0px;
	background-color: var(--foreground);
	z-index: 0;
	border-top-right-radius: 10px;
	user-select: none;
	pointer-events: none;
}
div.toolbar-3_r2xA > div{
	height: 100%;
	display: flex;
	align-items: center;
}
div.toolbar-3_r2xA::before{
	content: "";
	/*width: 432px;*/
	width: 402px;
	position: absolute;
	height: 100%;
	background-color: var(--foreground);
	border-top-right-radius: 10px;
}
div.search-39IXmY::before{
	content: "";
	width: 260px;
	position: absolute;
	height: 100%;
	background-color: var(--foreground);
}
section.title-31SJ6t > div.toolbar-3_r2xA > div[aria-label="Inbox"]::before{
	content: "";
	background-color: var(--foreground);
	width: 32px;
	height: 100%;
	position: absolute;
	z-index: 1;
	margin-right: 0;
}
div[aria-label="Add Friends to DM"]::before{
	content: "";
	background-color: var(--foreground);
	width: 34px;
	height: 100%;
	position: absolute;
	z-index: 1;
	margin-right: 0;
	border-top-right-radius: 10px;
}
div.toolbar-3_r2xA > a.anchor-1MIwyf::before{
	content: "";
	background-color: var(--foreground);
	width: 48px;
	height: 100%;
	position: absolute;
	z-index: 1;
	margin-right: 0;
}
div.toolbar-3_r2xA > a.anchor-1MIwyf > div{
	z-index: 2;
}
div[aria-label="Add Friends to DM"] > svg{
	z-index: 2;
}
div[aria-label="Inbox"] > svg {
	z-index: 2;
}
div.toolbar-3_r2xA > a.anchor-1MIwyf{
	background-color: var(--foreground);
	height: 100%;
	display: flex;
	align-items: center;
}
section.transparent-2ZlE3R > div.toolbar-1t6TWx:before{
	display: none;
}
div.container-2o3qEW, div.membersWrap-3NUR2t{
	z-index: 2;
	top: -48px;
	height: 100vh;
	position: relative;
}
section.transparent-1lUmft > div, section.transparent-1lUmft > div.toolbar-3_r2xA::before{
	background-color: transparent!important;
	background: transparent!important;
}
div.divider-q3P9HC{
	display: none !important;
}
div.hidden-3iamF5{
	margin: 0;
}
div.chat-2ZfjoI{
	background-color: transparent;
}
div.wrapper-1gVUIN{
	height: calc(100vh - 32px) !important;
	margin-right: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;

}
div.fullScreen-KhZZcz{
	height: 100%!important;
	top: 0 !important;
	margin-right: 0 !important;
}
div.wrapper-1gVUIN > .callContainer-HtHELf{
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
}
div.fullScreen-KhZZcz > .callContainer-HtHELf{
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
}
main.chatContent-3KubbW{
	margin-bottom: 10px;
	margin-right: 10px;
}
div.iconWrapper-2awDjA[aria-label="Show Member List"]{
	order: 1;
	margin-right: 10px;
	padding-right: 10px;
	border-top-right-radius: 10px;
}
div.iconWrapper-2awDjA[aria-label="Add Friends to DM"]{
	order: 1;
	margin-right: 10px;
	padding-right: 10px;
	border-top-right-radius: 10px;
}
div.container-2cd8Mz{
	margin: 0 10px 10px 0;
	border-radius: 0 10px 10px 0;
}
div.container-2cd8Mz > .title-31SJ6t{
	background-color: var(--foreground);
}
div.tabBody-2dgbAs, div.peopleColumn-1wMU14, div.nowPlayingColumn-1eCBCN > div > div, div.nowPlayingColumn-1eCBCN > div > div > div, div.nowPlayingColumn-1eCBCN > div > div > div > div{
	background: var(--foreground) !important;
	background-color: var(--foreground) !important;
}
div.nowPlayingColumn-1eCBCN > div > div > div > div > div > section{
	background: var(--background) !important;
	background-color: var(--background) !important;
}
div.popout-103y-5{
	background-color: var(--foreground) !important;
}
